<hr>
<br>
<h1 class="center">REINSCRIPCIÓN
</h1>
<div class="justificar">
  <span>
    <b>ACERCA DEL TRÁMITE:</b> <br>
      <b>Descripción:</b> <br>
      Es el proceso a través del cual los alumnos se reinscriben a estudios de Licenciatura y Maestrías y que cumplan con los requisitos marcados en el Reglamento de Alumnos y de Evaluación del Aprendizaje.
      <br><br>
      <b>Usuarios:</b> <br>
      Alumnos inscritos a Licenciaturas o Maestrías.
      <br><br>
      <hr class="new1">
      <b>DOCUMENTOS QUE SE OBTIENEN:</b> <br>
      <ul>
        <li>Tira de Materias</li>
     </ul>
      <b>Vigencia:</b> <br>
      Un semestre.
      <br><br>
      <hr class="new1">
      <b>REQUISITOS Y PASOS:</b> <br>
      <b>Documentación necesaria Licenciatura:</b> <br>
      <ul>
        <li>Solicitud de Reinscripción (FOTESE-URC-16).</li>
        <li>Recibo de pago</li>
     </ul>
     <b>Duración y fechas para realizarlo:</b> <br>
     El tiempo de atención aproximado es de 3 minutos y las fechas son las establecidas en el Calendario Escolar con la programación que publica la Unidad de Registro y Certificación.
     <br><br>
      <hr class="new1">
      <b>LUGARES Y HORARIOS:</b> <br>
      <b>Organismo Responsable:</b> <br>
      Tecnológico de Estudios Superiores de Ecatepec
      <br><br>
      <b>Oficinas:</b> <br>
      Av. Tecnológico S/N C.P. 55210 Col. Valle de Anáhuac, Ecatepec de Morelos, Estado de México Edificio D en Ventanillas.
      <br><br>
      <b>Teléfono:</b> <br>
      01 (55) 50 00 23 42
      <br><br>
      <b>Horario de Atención:</b> <br>
      De Lunes a Viernes de 8:00 A 18:00 horas.
      <br><br>





<br><br>
<hr class="new1">
</span>
</div>
<hr>
<mat-card >
  <mat-card-header>

    <mat-card-title style="font-size: 3ch; ">Documentos Relacionados

    </mat-card-title>
    <mat-card-subtitle style="font-size: 2ch;">PDF</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
     <img  class="img-icon" src="../../../../assets/images/PDF-ICON.png">
    </p>
  </mat-card-content>
  <mat-card-actions style="margin-right: auto;">
   <a href="http://www.tese.edu.mx/documentos2004/6480_FYKWQAK.doc" class="enlace-pdf" mat-button>Calendario de Reinscripcion(AÑO)</a>

  </mat-card-actions>
  <mat-card-actions style="margin-right: auto;">
    <a href="http://www.tese.edu.mx/tese2010/loader.aspx?n=QGYTGANO" class="enlace-pdf" mat-button>Lineamientos de pago y cuotas  para el semestre (AÑO)</a>
   </mat-card-actions>

</mat-card>

<mat-card >
  <mat-card-header>
