<hr>
<br>
<h1 class="center">INSCRIPCIÓN
</h1>
<div class="justificar">
  <span>
    <b>ACERCA DEL TRÁMITE:</b> <br>
      <b>Descripción:</b> <br>
      Es el acto que realizan los alumnos que fueron aceptados en el proceso de admisión y que cumplan con los requisitos establecidos por el TESE.
      <br><br>
      <b>Usuarios:</b> <br>
      Alumnos del Nivel Medio Superior, Técnico Superior Universitario o alumnos que ingresaron por proceso de revalidación o equivalencia.
      <br><br>
      <hr class="new1">
      <b>DOCUMENTOS QUE SE OBTIENEN:</b> <br>
      <ul>
        <li>Tira de Materias</li>
        <li>Credencia de Alumno</li>
        <li>Carta de Bienvenida</li>
        <li>Reglamentos</li>
        <li>Tríptico de Servicios de la Unidad de Registro y Certificación</li>
     </ul>
      <b>Vigencia:</b> <br>
      Un semestre.
      <br><br>
      <hr class="new1">
      <b>REQUISITOS Y PASOS:</b> <br>
      <b>Documentación necesaria:</b> <br>
      <ul>
        <li>Acta de nacimiento en original y dos copias.</li>
        <li>Certificado de bachillerato en original y dos copias o constancia de estudios donde indique que el certificado está en trámite.</li>
        <li>Copia de la CURP.</li>
        <li>Número de Seguridad Social ante el IMSS.</li>
        <li>Protesta institucional, FO-TESE-URC-09.</li>
        <li>Ficha de Depósito</li>
     </ul>
     <b>Pasos:</b> <br>
     El estudiante aceptado se presenta en la fecha indicada para su inscripción con la documentación establecida en los requisitos, una vez verificada por parte del personal de la Unidad de Registro y Certificación procede a entregarle Tira de materias, Credencial de alumno, Carta de bienvenida, Reglamentos, Trípticos de servicios. El estudiante deberá presentarse el día que indica el Calendario Escolar de inicio de semestre en el horario indicado en su tira de materias.
     <br><br>
     <hr class="new1">
     <b>COSTOS:</b> <br>
      <b>Cuota Semestral:</b> <br>
      $3,457.00 (Incluye: Colegiatura, Inscripción, Seguro, Examen Médico).
      <br><br>
      <hr class="new1">
      <b>DURACIÓN Y FECHAS PARA REALIZARLO:</b> <br>
      <b>Duración:</b> <br>
      <ul>
        <li>El tiempo de atención para este trámite es de aproximadamente 30 minutos.</li>
        <li>El periodo establecido en el calendario de la institución.</li>
     </ul>
      <br><br>
      <hr class="new1">
      <b>LUGARES Y HORARIOS:</b> <br>
      <b>Organismo Responsable:</b> <br>
      TESE Oficinas: Av. Tecnológico S/N, Col. Valle de Anáhuac, C.P. 55210, Ecatepec de Morelos, Estado de México, Edificio D, en Ventanillas, Teléfono: 01 (55) 50 00 23 42
      <br><br>
      <b>Horario de Atención:</b> <br>
      De Lunes a Viernes
      <br><br>





<br><br>
<hr class="new1">
</span>
</div>
<hr>
<mat-card >
<mat-card-header>

<mat-card-title style="font-size: 3ch;">Documentos Relacionados
</mat-card-title>
<mat-card-subtitle style="font-size: 2ch;">PDF</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
<p>
<img  class="img-icon" src="../../../../assets/images/PDF-ICON.png">
</p>
</mat-card-content>
<mat-card-actions style="margin-right: auto;">
<a href="http://ssocial.tese.edu.mx/ccyt_ssocial/" class="enlace-pdf" mat-button>MOSTRAR</a>
</mat-card-actions>
</mat-card>
