<mat-divider class="divider"></mat-divider>

     <div class="w3-bar w3-black">
      <div class="w3-bar-item">.</div>

    </div>
     <hr>
<br>

     <h1 class="titulo">Becas
    </h1>

    <h2 class="center">Información sobre las Becas que te puede proporcionar el TESE
    </h2>

    <hr class="new1">


    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Acerca de:</h4>
        <p class="card-text"> Las Becas que puede porporcionar el Tese son bariadas, la mas comun es la "Beca de Tranporte" y Becas de Educacion Superior, mas otras Becas que no son pertenecientes al Tese, pero te damos enlaces para que las veas.

          <br>
        </p>
      </div>
    </div>



    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="colapsablemenu" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            <b>Beca de Transporte</b>
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="textoMenucolapsable"> <b>Características:</b> </div>
            <ul>
              <li>Apoyo Semestral de $1,000.00 pesos</li>
              <li>Vigencia de 6 meses</li>
            </ul>
            <div class="textoMenucolapsable"><b>Requisitos:</b></div>
            <ul>
              <li>Promedio mínimo de 7.0</li>
              <li>Máximo de 2 materias reprobadas</li>
              <li>Tener una condición económica desfavorable</li>
              <li>Que el tiempo de traslado entre el hogar y el plantel sea superior a 30 minutos</li>
            </ul>
            <div class="textoMenucolapsable"><b>Publicación de la convocatoria:</b></div>
            <ul>
              <li>Marzo</li>
              <li>Octubre</li>
            </ul>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">


            <b>Becas para la Educación Superior</b>
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="btn-group-vertical">
            <button type="button" class="btn btn-danger" onclick="location.href='http://seduc.edomex.gob.mx/becas'">Secretaria de Educacion del Estado de Mexico</button>
            <br>
            <button type="button" class="btn btn-danger" onclick="location.href='http://www.cnbes.sep.gob.mx/'">Secretaria de Educacion</button>
          </div>
          <br><br>
          <div class="textoMenucolapsable">Atención de la Oficina de Becas: T. S. Ma. Concepción Ramos Sánchez</div>
          <div class="textoMenucolapsable">Horario: De lunes a viernes de 7:00 a 15:00 horas</div>
        </div>
      </div>
    </div>

    <hr class="new1">
    <div class="alert alert-dismissible alert-warning">

      <h4 class="alert-heading"><b>Importante!</b></h4>
      <p class="mb-0">Debes tener en cuenta los horarios y las fechas para las Becas y no se te pasen, mas los requisitos que debe de tener.
    </div>


        <div class="card-group">
          <div class="card">
            <img src="../../../../../assets/images/admisionytramitesimg/DDFBueno.jpg"  class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">DLR-DAAD Research Fellowships</h5>
              <button type="button" class="btn btn-danger" onclick="location.href='https://www.daad.de/en/study-and-research-in-germany/scholarships/dlr-daad-research-fellowships/'">Becas</button>
            </div>
            <div class="card-footer">

            </div>
          </div>
          <div class="card">
            <img src="../../../../../assets/images/admisionytramitesimg/facebooksearch.jpg" class="card-img-top" alt="..." height="350">
            <div class="card-body">
              <h5 class="card-title">Facebook research</h5>
             
              <button type="button" class="btn btn-danger" onclick="location.href='https://research.fb.com/fellowship/'">Becas</button>
            </div>
            <div class="card-footer">

            </div>
          </div>
          <div class="card">
            <img src="../../../../../assets/images/admisionytramitesimg/unesco.jpg"class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">UNESCO</h5>
             
              <button type="button" class="btn btn-danger" onclick="location.href='http://www.unesco.org/new/en/fellowships/programmes/unesco-poland-co-sponsored-fellowships-programme-engineering/'">Becas</button>
            </div>
            <div class="card-footer">

            </div>
          </div>
        </div>













        <div class="w3-bar w3-black">
          <div class="w3-bar-item">.</div>

    </div>


    <hr>
    <mat-card >
      <mat-card-header>
