<hr>
<br>
<h1 class="center">Becas Proporcionadas por el TESE
</h1>
<div class="justificar">
  <span>
      <b>Descripción:</b> <br>
      El TESE como Intitucion proporciona direferentes tipos de becas, las cuales ayudan ha siertos alumnos que tienen siertras dificultades, que pueden ir desde el transporte, discapacidad, etc.     
      <br><br>
 <b>Becas de Transporte (TESE)</b> <br><br>
      <b>Cracteristicas:</b>
<br>
<ul>
    <li>Apoyo semestral de $1,000.00</li>
    <li>Vigencia de 6 meses</li>
    </ul>
     <br>
     <b>Requisitos:</b>

     <br>
     <ul>
       <li>Promedio minimo de 7.0</li>
       <li>Maximo de 2 materias reprobadas</li>
       <li>Tner una condicon economica desfavorable</li>
       <li>Que el tiempo de traslado entre el hogar y el plantel dea superior a 30 minutos</li>
     </ul>
     <br>
     <b>Publicacion de la convacatoria:</b>
     <br> 
     <ul>
       <li>Marzo</li>
       <li>Octubre</li>
     </ul>
     <br>
    <br>

    <hr class="new1">

  </span>


</div>

<div class="justificar">
  <span>
    <b>Becas para la Educacion Superior</b> <br><br>
    <button onclick="location.href='http://seduc.edomex.gob.mx/becas'" class="btn danger">Secretaria de Educacion del Estado</button>
     <br><br>
    <button onclick="location.href='http://www.cnbes.sep.gob.mx/'" class="btn danger2">Secretaria de Educacion Publica</button>
     <br><br>
     Atención de la Oficina de Becas: T. S. Ma. Concepción Ramos Sánchez
    <br>
    <b> Horario de Atencion:</b> <br>
    De lunes a viernes de 7:00 a 15:00 horas


  </span>

</div>
<hr>


<mat-card >
  <mat-card-header>

    <mat-card-title style="font-size: 3ch;">Becas Relacionadas
    </mat-card-title>
    <mat-card-subtitle style="font-size: 2ch;">Link</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
     <img  class="img-icon" src="../../../../assets/images/enlace.png">
    </p>
  </mat-card-content>
  <mat-card-content>
    <br><br>
    <button onclick="location.href='https://www.daad.de/en/study-and-research-in-germany/scholarships/dlr-daad-research-fellowships/'" class="btn danger">DLR-DAAD Research Fellowships</button>
     <br><br>
  </mat-card-content>
  <mat-card-content>
    <button onclick="location.href='https://research.fb.com/fellowship/'" class="btn danger">Facebook research</button>
     <br><br>
  </mat-card-content>
  <mat-card-content>
    <button onclick="location.href='http://www.unesco.org/new/en/fellowships/programmes/unesco-poland-co-sponsored-fellowships-programme-engineering/'" class="btn danger">UNESCO</button>
  </mat-card-content>
  <mat-card-actions style="margin-right: auto;">
   <a href="http://ssocial.tese.edu.mx/ccyt_ssocial/" class="enlace-pdf" mat-button>MOSTRAR</a>
  </mat-card-actions>
</mat-card>