<hr>
<br>
<h1 class="center">PROCESO DE ADMISIÓN
</h1>
<div class="justificar">
  <span>
    <b>ACERCA DEL TRÁMITE:</b> <br>
      <b>Descripción:</b> <br>
      Es aquel que realizan los Estudiantes que hayan concluido sus estudios del Nivel Medio Superior y que deseen continuar estudiando el Nivel superior y cumplan con los requisitos establecidos por el TESE. Este mismo proceso es aplicable para los Alumnos provenientes de Universidades Tecnológicas, Universidades Públicas, Privadas o Tecnológicos Federales o Estatales.
      <br><br>
      <b>Usuarios:</b> <br>
      Alumnos del Nivel Medio Superior y Técnico Superior Universitario o alumnos truncados en estudios de nivel superior.
      <br>
      <hr class="new1">
      <b>DOCUMENTOS QUE SE OBTIENEN:</b> <br>
      <ul>
        <li>Ficha de Presentación de Examen.</li>
        <li>Guía de Estudios.</li>
     </ul>
      <b>Vigencia:</b> <br>
      Este trámite es realizado dos veces al año (Abril-Junio para el ingreso en Agosto y Octubre-Diciembre para el ingreso en Febrero).
      <br>
      <hr class="new1">
      <b>REQUISITOS Y PASOS:</b> <br>
      <b>Documentación necesaria:</b> <br>
      <ul>
        <li>Copia del Acta de nacimiento.</li>
        <li>Copia del Certificado de bachillerato o constancia de estudios donde indique que concluyo el bachillerato.</li>
        <li>Ficha de pago por concepto de derecho de examen.</li>
        <li>Ficha de pago por concepto de curso propedéutico.</li>
     </ul>
     <b>Pasos:</b> <br>
     El aspirante ingresa al sitio http://escolarweb.tese.edu.mx para realizar su registro e imprimir su solicitud y ficha de pago. Posteriormente acude a la ventanilla de carrera correspondiente a la Unidad de Registro y Certificación del Tecnológico a entregar dicha documentación junto con su copia del acta de nacimiento y certificado de bachillerato, se revisan sus documentos se le envía a pagar y se le toma la foto para entregarle su ficha de presentación de examen, misma que presentará el día y la hora que le indiquen para presentar su examen, en ese momento se entrega también su guía de estudios. Posteriormente se publican los resultados de los alumnos aceptados el curso propedéutico y en caso de que hayan sido aceptados deberán pagar el equivalente a este curso y en caso de ser aceptados del mismo se inscribirán en la fecha que determine el Calendario Escolar publicado por la Unidad de Registro y certificación.
     <br>
     <hr class="new1">
     <b>COSTOS:</b> <br>
      <ul>
        <li>Derecho de examen $371.00</li>
        <li>Curso Propedéutico $775.00</li>
     </ul>
      <hr class="new1">
      <b>DURACIÓN PARA REALIZARLO:</b>
      <br>10 minutos una vez registrado en Internet y teniendo su documentación.<br>
      <hr class="new1">
      <b>LUGARES Y HORARIOS:</b> <br>
      <b>Organismo Responsable:</b> <br>
      Tecnológico de Estudios Superiores de Ecatepec
      <br>
      <b>Oficinas:</b> <br>
      Av. Tecnológico S/N C.P. 55210 Col. Valle de Anáhuac, Ecatepec de Morelos, Estado de México Teléfono: 01 (55) 50 00 23 42
      <br>
      <b>Horario de Atención:</b> <br>
      De Lunes a Viernes de 9:00 A 18:00 Horas.
      <br><br>


    </span>


  </div>


  <mat-card >
    <mat-card-header>

      <mat-card-title style="font-size: 3ch; ">Documentos Relacionados

      </mat-card-title>
      <mat-card-subtitle style="font-size: 2ch;">PDF</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
       <img  class="img-icon" src="../../../../assets/images/PDF-ICON.png">
      </p>
    </mat-card-content>
    <mat-card-actions style="margin-right: auto;">
     <a href="http://www.tese.edu.mx/documentos2004/8497_WTSLAAR.pdf" class="enlace-pdf" mat-button>Convocatoria Licenciatura (AÑO)</a>

    </mat-card-actions>
    <mat-card-actions style="margin-right: auto;">
      <a href="http://www.tese.edu.mx/documentos2004/8507_CXRNHKY.pdf" class="enlace-pdf" mat-button>Ingreso por Revalidación</a>
     </mat-card-actions>

  </mat-card>

  <mat-card >
    <mat-card-header>

