<!-- Titulos -->
<mat-divider class="divider"></mat-divider>

<div class="w3-bar w3-black">
  <div class="w3-bar-item">.</div>

</div>
 <hr>
<br>

<div class="container-fluid">

  <h1 class="titulo">Admision y Tramites
  </h1>

  <h2 class="center">Procesos de Inscripcion, Reinscripcion y tramites dentro de la institucion
  </h2>
  <hr class="new1">
</div>








<!-- Elementos de el equipo -->


<div class="container-fluid">




<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="../../../../../assets/images//graduacionresolucion.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Inscripcion</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

      </div>
      <a mat-flat-button href="../admisiontramites/titulacion//titulacion.component.html" target="Basic">Inscripcion</a>
    </div>
  </div>


  <div class="col">
    <div class="card">
      <img src="../../../../../assets/images//graduacionresolucion.png"class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Reinscripcion</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <a mat-flat-button href="../admisiontramites/titulacion/" target="Basic">Inscripcion</a>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="../../../../../assets/images//graduacionresolucion.png"class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Becas</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <a mat-flat-button href="../admisiontramites/titulacion/" target="Basic">Inscripcion</a>
    </div>
  </div>


  <div class="col">
    <div class="card">
      <img src="../../../../../assets/images//graduacionresolucion.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Titulacion</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <a mat-flat-button href="../admisiontramites/titulacion/" target="Basic">Inscripcion</a>
    </div>
  </div>


  <div class="col">
    <div class="card">
      <img src="../../../../../assets/images//graduacionresolucion.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cursos</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <a mat-flat-button href="../admisiontramites/titulacion/" target="Basic">Inscripcion</a>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="../../../../../assets/images//graduacionresolucion.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Servicio Social</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <a mat-flat-button href="../admisiontramites/titulacion/" target="Basic">Inscripcion</a>
    </div>
  </div>




</div>
</div>
<hr class="new1">






 <!--  <img src="../../../../../assets/images//graduacionresolucion.png"
 -->

 <!-- <a mat-flat-button href="../admisiontramites/titulacion/" target="Basic">Inscripcion</a>
 -->




 <!-- GRID SEGURIDAD XD -->
<!-- Elementos de el equipo -->

<!-- <div class="container-fluid">

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="../../../../../assets/images//graduacionresolucion.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Inscripcion</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

        </div>
        <a mat-flat-button href="../admisiontramites/titulacion/" target="Basic">Inscripcion</a>
      </div>
    </div>


    <div class="col">
      <div class="card">
        <img src="../../../../../assets/images//graduacionresolucion.png"class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Reinscripcion</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <a mat-flat-button href="../admisiontramites/titulacion/" target="Basic">Inscripcion</a>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="../../../../../assets/images//graduacionresolucion.png"class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Becas</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <a mat-flat-button href="../admisiontramites/titulacion/" target="Basic">Inscripcion</a>
      </div>
    </div>


    <div class="col">
      <div class="card">
        <img src="../../../../../assets/images//graduacionresolucion.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Titulacion</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <a mat-flat-button href="../admisiontramites/titulacion/" target="Basic">Inscripcion</a>
      </div>
    </div>


    <div class="col">
      <div class="card">
        <img src="../../../../../assets/images//graduacionresolucion.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cursos</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <a mat-flat-button href="../admisiontramites/titulacion/" target="Basic">Inscripcion</a>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="../../../../../assets/images//graduacionresolucion.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Servicio Social</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <a mat-flat-button href="../admisiontramites/titulacion/" target="Basic">Inscripcion</a>
      </div>
    </div>
 -->
