<hr>
<br>
<h1 class="center">Acerca del tramite
</h1>
<div class="justificar">
  <span>
      <b>Descripción:</b> <br>
      Conjunto de actividades de carácter temporal y obligatorio que presentan los estudiantes y pasantes de las carreras técnicas y profesionales, en el que aplicarán los conocimientos científicos, técnicos y humanísticos adquiridos en su formación.
      <br><br>

      <b>Nota de Advertencia:</b>
<br>
     Se solicita como requisito previo a la obtención del título profesional.
     <br><br>
     <b>Usuarios:</b>

     <br>
     Alumnos del TESE haber acreditado al menos el 50% del plan de estudios de licenciatura Egresados que no hayan realizado su trámite.
     <br><br>
     <b>Documentos que se obtienen:</b><br> Constancia de Prestación del Servicio Social.
     <br><br>
    <b>Vigencia:</b> <br> Permanente


    <br><br>

    <hr class="new1">


  </span>


</div>


<h1 class="center"> Requisitos y Pasos
</h1>
<div class="justificar">
  <span>
    <b>Documentacion necesaria:</b> <br>
    <ol>
      <li>Acreditar el 50% del plan de estudios.</li>
      <li>
        Asistir al curso de inducción al servicio social "SENSIER".</li>
      <li>Solicitud – Registro/Autorización (debidamente requisitada desde tu sesión de alumno del Sistema de Control Escolar</li>
      <li>Copia del comprobante del seguro colectivo accidentes escolares (Solicitar en la Unidad de Registro y Certificación)</li>
      <li>Folder tamaño carta color Beige</li>
    </ol>
    <br>
    <b>Opciones para obtener un lugar: </b> <br>

    <ol>
      <li>Consultando mediante sesión de alumnos del Sistema de Control Escolar, el Catálogo de Entidades Receptoras autorizadas para realizar Servicio Social.</li>
      <li>
        Participando en el desarrollo de Proyectos de Investigación a cargo de las áreas que integran este Tecnológico.</li>
      <li>Participando en el desarrollo del Proyecto Servicio Social Comunitario, haciendo diferentes actividades integrales para beneficio de la comunidad</li>
    </ol>

    <b>Duracion:</b> <br> En un lapso mínimo de seis meses, conforme a las fechas establecidas en el Departamento de Servicio Social y Seguimiento de Egresados.
    <br>
    <b> Organismo Responsable:</b> <br>
    Tecnológico de Estudios Superiores de Ecatepec / Departamento de Servicio Social y Seguimiento de Egresado
    <br>
    <b>  Oficinas:</b> <br>
    Av. Tecnológico S/N C.P. 55210 Col. Valle de Anáhuac, Ecatepec de Morelos, Estado de México Edificio de Vinculación.
    <br>
    <b> Teléfono:</b> <br>
     01 (55) 5000-23-45




  </span>


</div>


<hr>


<mat-card >
  <mat-card-header>

    <mat-card-title style="font-size: 3ch;">Documentos Relacionados
    </mat-card-title>
    <mat-card-subtitle style="font-size: 2ch;">PDF</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
     <img  class="img-icon" src="../../../../assets/images/PDF-ICON.png">
    </p>
  </mat-card-content>
  <mat-card-actions style="margin-right: auto;">
   <a href="http://ssocial.tese.edu.mx/ccyt_ssocial/" class="enlace-pdf" mat-button>MOSTRAR</a>
  </mat-card-actions>
</mat-card>
