<hr>
<br>
<h1 class="center">Cursos y Diplomados
</h1>
<div class="justificar">
  <span>
      <b>Descripción:</b> <br>
      La educación es un ingrediente fundamental a lo largo de la vida, para el desarrollo de la comunidad, municipio, estado y del país, que brinda al hombre la oportunidad de integrarse y pertenecer a la sociedad del conocimiento, para que cuente con las herramientas necesarias que respondan a las demandas del mundo laboral actual, competitivo y globalizado
      <br>
      <hr class="new1">
      <br>
 <b>Perfil de Egresados</b> <br>
  Estos Diplomados se ofrecen a estudiantes, egresados, personal de los sectores público y privado, así como al público en general, interesados en su capacitación y actualización.
     <br>

     <hr class="new1">

     <br> 

     <b>Campo Laboral</b>
     <br>
     Brinda la oportunidad de integrarse y pertenecer a la sociedad del conocimiento, para que cuente con las herramientas necesarias que respondan a las demandas del mundo laboral actual, competitivo y globalizado.
     <br><br>
     <button onclick="location.href='http://continua.tese.edu.mx/tese2009/default.aspx?id_a=V4'" class="btn danger">Centro de Educacion Continua</button>
     <br>
    <br>
  </span>
</div>
<hr>


<mat-card >
  <mat-card-header>

    <mat-card-title style="font-size: 3ch;">Documentos Relacionadas
    </mat-card-title>
    <mat-card-subtitle style="font-size: 2ch;">PDF</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
     <img  class="img-icon" src="../../../../assets/images/enlace.png">
    </p>
  </mat-card-content>
  <mat-card-content>
    <br>
    <a href="http://www.tese.edu.mx/documentos2004/2195_HJUBFIF.pdf" class="enlace-pdf" mat-button>	Niveles de dominio de las Lenguas Extranjeras presentadas por el Centro de Idiomas</a>
     <br>
  </mat-card-content>
  <mat-card-actions style="margin-right: auto;">
   <a href="http://ssocial.tese.edu.mx/ccyt_ssocial/" class="enlace-pdf" mat-button>MOSTRAR</a>
  </mat-card-actions>
</mat-card>
