
     <mat-divider class="divider"></mat-divider>

     <div class="w3-bar w3-black">
      <div class="w3-bar-item">.</div>

    </div>
     <hr>
<br>

     <h1 class="titulo">Titulacion
    </h1>

    <h2 class="center">Información para realizar el proceso de titulacion:
    </h2>

    <hr class="new1">


    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Acerca de:</h4>
        <p class="card-text"> Es el trámite que realizan los y las egresados(as) de esta Institución para la obtención de su Título y Cédula Profesional>, para ello deberán llevar a cabo en la jefatura de su división correspondiente la acreditación de alguna de las opciones de Titulación establecidas en el Reglamento respetivo y posteriormente presentar la documentación solicitada en la Oficina de Titulación.



          <br>
          <br>
        </p>
      </div>
    </div>



    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="colapsablemenu" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            <b> Documentacion Necesaria</b>
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="textoMenucolapsable"> Para realizar tu trámite deberás ingresar al vínculo de Generación de Fichas de Pago (SICI) para generar tu referencia de pago y consultar el instructivo para realizar el pago de derechos de titulación, posteriormente deberás presentar el pago junto con el resto de los requisitos en la oficina detitulación.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">


            <b>Opciones de Titulación:</b>
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="textoMenucolapsable"><ol>
            <li>Tesis Profesional.</li>
            <li>
              Proyecto de Investigación </li>
            <li>Seminario de Titulación</li>
            <li>Posgrado</li>
            <li>Promedio General Sobresaliente</li>
            <li>Créditos Adicionales de Especialidad</li>
            <li>Experiencia Profesional</li>
            <li>Examen de Conocimientos por áreas</li>
            <li> Examen General de Egreso de Licenciatura (EGEL)</li>
            <li>Memoria de Residencia</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <b>  Tiempo aproximado:</b>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="textoMenucolapsable">
            El tiempo aproximado del trámite de Titulación, es decir, para asignar fecha, lugar y hora de Protocolo de Recepción Profesional ó Examen Profesional es de una semana.
          </div>
        </div>
      </div>
    </div>

    <hr class="new1">
    <div class="alert alert-dismissible alert-warning">

      <h4 class="alert-heading"><b>Importante!</b></h4>
      <p class="mb-0">Para realizar tu trámite deberás ingresar al vínculo de Generación de Fichas de Pago (SICI) para generar tu referencia de pago y consultar el instructivo para realizar el pago de derechos de titulación, posteriormente deberás presentar el pago junto con el resto de los requisitos en la oficina detitulación.
    </div>


        <div class="card-group">
          <div class="card">
            <img src="../../../../../assets/images//graduacionresolucion.png"  class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Usuarios</h5>
              <p class="card-text">Los y Las egresados(as) de esta Institución</p>
            </div>
            <div class="card-footer">

            </div>
          </div>
          <div class="card">
            <img src="../../../../../assets/images/admisionytramitesimg/certificado.png" class="card-img-top" alt="..." height="350">
            <div class="card-body">
              <h5 class="card-title">Documentos que se obtienen:</h5>
              <p class="card-text">Título y Cédula Profesional</p>
            </div>
            <div class="card-footer">

            </div>
          </div>
          <div class="card">
            <img src="../../../../../assets/images/admisionytramitesimg/conjunto-jovenes-estudiantes-ocupados-diferentes-actividades_1262-19952.jpg"class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Horario de Atención:</h5>
              <p class="card-text">Lunes a Viernes de 9:00 A 18:00 horas en la Oficina de Titulación</p>
            </div>
            <div class="card-footer">

            </div>
          </div>
        </div>













        <div class="w3-bar w3-black">
          <div class="w3-bar-item">.</div>

    </div>


    <hr>

    <mat-card >
      <mat-card-header>

        <mat-card-title style="font-size: 3ch; ">Documentos Relacionados

        </mat-card-title>
        <mat-card-subtitle style="font-size: 2ch;">PDF</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>
         <img  class="img-icon" src="../../../../assets/images/PDF-ICON.png">
        </p>
      </mat-card-content>
      <mat-card-actions style="margin-right: auto; font-size: 8pt;">
       <a href="http://www.tese.edu.mx/documentos2004/5886_SHFFYLY.doc" class="enlace-pdf" mat-button>Características de Fotografías para Trámite <br>de Titulación FO-TESE-URC-22</a>

      </mat-card-actions>
      <mat-card-actions style="margin-right: auto; font-size: 8pt;">
        <a href="http://www.tese.edu.mx/documentos2004/5885_XYRYAYS.doc" class="enlace-pdf" mat-button>	Requisitos de trámite de Titulación <br>FO-TESE-URC-19</a>
       </mat-card-actions>

    </mat-card>

    <mat-card >
      <mat-card-header>
