<hr>
<br>
<h1 class="center">Titulacion
</h1>
<div class="justificar">
  <span>
      <b>Descripción:</b> <br>
      Es el trámite que realizan los y las egresados(as) de esta Institución para la obtención de su Título y Cédula Profesional, para ello deberán llevar a cabo en la jefatura de su división correspondiente la acreditación de alguna de las opciones de Titulación establecidas en el Reglamento respetivo y posteriormente presentar la documentación solicitada en la Oficina de Titulación.
      <br><br>

      <b>Opciones de Titulación:

 </b>
<br>
<ol>
<li>Tesis Profesional.</li>
<li>
  Proyecto de Investigación </li>
<li>Seminario de Titulación</li>
<li>Posgrado</li>
<li>Promedio General Sobresaliente</li>
<li>Créditos Adicionales de Especialidad</li>
<li>Experiencia Profesional</li>
<li>Examen de Conocimientos por áreas</li>
<li> Examen General de Egreso de Licenciatura (EGEL)</li>
<li>Memoria de Residencia</li>
</ol>

     <br><br>
     <b>Tiempo aproximado:</b>

     <br>
     El tiempo aproximado del trámite de Titulación, es decir, para asignar fecha, lugar y hora de Protocolo de Recepción Profesional ó Examen Profesional es de una semana.
     <br><br>
     <b>Requisitos y solicitudes:</b><br>
<ol>
     <li>Requisitos para el trámite de titulación (FO-TESE-URC-19).</li>
     <li>Características de fotografías para el trámite de titulación (FO-TESE-URC-22).</li>
</ol>


     -Requisitos para el trámite de titulación (FO-TESE-URC-19).

-Características de fotografías para el trámite de titulación (FO-TESE-URC-22).


     Constancia de Prestación del Servicio Social.
     <br><br>
    <b>Usuarios:</b> <br>  Los y Las egresados(as) de esta Institución

    <br><br>

    <br><br>
    <b>Documentos que se obtienen:</b> <br>  Título y Cédula Profesional


    <hr class="new1">


  </span>


</div>


<h1 class="center"> Requisitos y Pasos
</h1>
<div class="justificar">
  <span>
    <b>Documentacion necesaria:</b> <br>
    Para realizar tu trámite deberás ingresar al vínculo de Generación de Fichas de Pago (SICI) para generar tu referencia de pago y consultar el instructivo para realizar el pago de derechos de titulación, posteriormente deberás presentar el pago junto con el resto de los requisitos en la oficina detitulación.
    <br>
    <b>Lugares y horarios:</b> <br>
    <b>Organismo Responsable:  </b> <br>
    Tecnológico de Estudios Superiores de Ecatepec, Unidad de Registro y Certificación, Oficina de Titulación. Oficinas: Av. Carlos Hank González esq. Av. Tecnológico S/N Col. Valle de Anáhuac, Ecatepec de Morelos, Estado de México C.P. 55210 Teléfono: 01 (55) 50 00 23 44

    <br>
    <b> Horario de Atención:</b> <br>
    de Lunes a Viernes de 9:00 A 18:00 horas en la Oficina de Titulación
    <br>





  </span>


</div>


<hr>


<mat-card >
  <mat-card-header>

    <mat-card-title style="font-size: 3ch; ">Documentos Relacionados

    </mat-card-title>
    <mat-card-subtitle style="font-size: 2ch;">PDF</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
     <img  class="img-icon" src="../../../../assets/images/PDF-ICON.png">
    </p>
  </mat-card-content>
  <mat-card-actions style="margin-right: auto;">
   <a href="http://www.tese.edu.mx/documentos2004/5886_SHFFYLY.doc" class="enlace-pdf" mat-button>Características de Fotografías para Trámite de Titulación FO-TESE-URC-22</a>

  </mat-card-actions>
  <mat-card-actions style="margin-right: auto;">
    <a href="http://www.tese.edu.mx/documentos2004/5885_XYRYAYS.doc" class="enlace-pdf" mat-button>	Requisitos de trámite de Titulación FO-TESE-URC-19</a>
   </mat-card-actions>

</mat-card>

<mat-card >
  <mat-card-header>




